# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp3
*.mp4
*.pdf
*.zip
*.mscz
*.sib
*.xml
*.wav
*.ico
*.mov
public_html/media.html
public_html/assets/DailyMotion-4ORR_JtE.js
public_html/assets/Facebook-3vbT4B8T.js
public_html/assets/FilePlayer-Kzl1LD7B.js
public_html/assets/index-7zwI51m_.css
public_html/assets/index-wvMl2c3I.js
public_html/assets/Kaltura-tmkZGkGL.js
public_html/assets/Mixcloud-s2Dd8Edj.js
public_html/assets/Preview-n31EKytx.js
public_html/assets/SoundCloud-9dlv06EV.js
public_html/assets/Streamable-AwyQd1Rg.js
public_html/assets/Twitch-WT11nOGW.js
public_html/assets/Vidyard-Xx1oCsU3.js
public_html/assets/Vimeo-QEBtxJ8_.js
public_html/assets/Wistia-eQ508kSz.js
public_html/assets/YouTube-xzkrif5T.js
public_html/data/opptakt.json
public_html/data/samstemt.json
.gitignore
