html,
body,
#root {
  height: 100%;
}
#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#content {
  height: 100%;
  width: 640px;
}
@media only screen and (max-width: 640px) {
  #content {
    width: 100%;
    padding: 0 8px;
  }
}

#root {
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
}

.chapter {
  margin-bottom: 2px;
}
.chapter-inactive {
  border-bottom: 1px #efefef solid;
}
.chapter-active {
  --dummy-style: foo;
}
.chapter-name {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 4px 0px 0px 6px;
}
.chapter-name-open {
  border-bottom: solid 2px;
}
.chapter-name:hover {
  background: #f7f7ff;
}
.chapter-content {
  --dummy-style: foo;
}
.section-name {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.section-name-active {
  cursor: pointer;

  padding-top: 6px;
}
.section-active {
  --dummy-style: foo;
}
.section-inactive {
  --dummy-style: foo;
}
.song {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #eee dashed;
}
.song-active {
  background: #cdcdcd;
}
.song-inactive {
  --dummy-style: foo;
}
.song-name {
  --dummy-style: foo;
  padding-left: 8px;
}

.audio {
  position: fixed;
  bottom: 1%;
  width: 640px;
  max-width: calc(100% - 70px);
  border: solid 2px #ddd;
}
.button-close {
  border-radius: 6px;
  width: 5em;
  height: 1.8em;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
  margin-top: 12px;
  margin-bottom: 12px;
}
.rhap_container {
  background-image: linear-gradient(#fff, #f4f4f4);
}
.video {
  position: fixed;
  bottom: 5%;
  width: 640px;
  height: fit-content;
  border: solid 6px;
  background-image: linear-gradient(to right, gray, white, gray);
}
.video-footer {
  text-align: center;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.spotify {
  border-radius: 12px;
  position: fixed;
  bottom: 1%;
  width: 640px;
  max-width: calc(100% - 70px);
  border: none;
}

.chevron {
  flex-shrink: 0;
  margin-right: 6px;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  transform: rotate(-90deg);
}

.chevron-open {
  transform: rotate(0deg);
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
